@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container {
    display: grid;
}
.navbar {
    display: flex;
    width: 100%;
    padding: 5px;
    height: 80px;
    
}
body {
    width: 1440px;
}
.home {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    align-items: center;
    width: 60%;
}
.thebox {
    display: flex;
    width: 40%;
    align-items: center;
    padding-left: 20px;
}
.box {
    color: #2947A9;
    font-size: 32px;
    padding-left: 10px;
    font-weight: bolder;
    font-style: italic;
}
.header {
    background-image: url('Hero.png');
    width: 1440px;
}
.header>div>p {
    font-size: 72px;
    padding-top: 239px;
    padding-bottom: 239px;
    padding-left: 112px;
    padding-right: 772px;
}
.blueboxcover {
    display: flex;
    align-items: baseline;
    position: absolute;
    width: 416px;
    height: 190px;
    left: 912px;
    top: 456px;
}
.featurepj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px 10px;
    position: absolute;
    width: 416px;
    height: 150px;
    right: -95px;
    bottom: 0px;
    background-color: #3559C7;
    color: aliceblue;
}
.back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    gap: 10px;
    position: absolute;
    width: 208px;
    height: 40px;
    right: 112px;
    bottom: -40px;
    background-color: black;
    color: aliceblue;
}
.button {
    position: absolute;
    background-color: black;
    color: aliceblue;
    border: none;
}
.next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    gap: 10px;
    position: absolute;
    width: 208px;
    height: 40px;
    right: -95px;
    bottom: -40px;
    background-color: black;
    color: aliceblue;
}
.feature {
    font-size: 20px;
    font-style: italic;
}
.nationality {
    display: flex;
    text-align: center;
    font-size: 24px;
    align-items: center;

}
.hover-nav:hover {
    color: rgb(255, 167, 35);
}
.reason {
    width: 1440px;
    height: 433px;
    display: grid;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
.reputation {
    display: flex;
    position: absolute;
    height: 42px;
    left: 584px;
    right: 585px;
    top: 788px;
    font-size: 31px;
    order: 3;
    font-weight: 700;
}
.best {
    display: flex;
    padding-left: 10px;
}
.best div img {
    width: 40px;
    height: 40px;
    padding: 5px;
}
.best_service {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    align-items: left;
    text-align: left;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
    box-sizing: border-box;
    left: 216px;
    position: absolute;
    width: 292px;
    height: 197px;
    top: 878px;
}
.service1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
}
.best_team {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    align-items: left;
    text-align: left;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
    box-sizing: border-box;
    left: calc(50% - 292px/2);
    position: absolute;
    width: 292px;
    height: 197px;
    top: 878px;
}
.best_design {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    align-items: left;
    text-align: left;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
    box-sizing: border-box;
    right: 204px;
    top: 878px; 
    position: absolute;
    width: 292px;
    height: 197px;
}

.image {
    position: absolute;
    width: 902px;
    height: 669px;
    left: calc(50% - 902px/2 - 155px);
    top: 1233px;
    border-radius: 2px;

}
.aboutus {
    position: absolute;
    width: 488px;
    height: 500px;
    left: 726px;
    top: 1383px;
    background: #2947A9;
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
    color: white;
}
.abouts {
    font-size: 36px;
    padding-top: 50px;
    padding-left: 40px;

}
.us {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 190px;
}
.service {
    position: absolute;
    top: 2048px;
    width: 100%;
    padding-left: 644px;
    font-size: 36px;
    /* font-family: 'Poppins', sans-serif; */
    /* background-color: #E0E3EB;; */
}
.aside {
    display: flex;
    background-color: #E0E3EB;
    flex-direction: column;
    width: 100%;
    position: absolute;
    order: 4;
    

}
.construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 216px;
    width: 271px;
    height: 181px;
    top: 2226px;
    background-color: #8c9fd2;
}
.icon {
    display: flex;
    position: absolute;
    /* top: 2300px; */
}
.rectangle_box {
    position: absolute;
    top: 105px;
}

.font {
    position: absolute;
    top: 120px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}
.renovate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 585px;
    width: 271px;
    height: 181px;
    top: 2226px;
    background-color: #2947A9;


}
.consulting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 954px;
    width: 271px;
    height: 181px;
    top: 2226px;
    background-color: #8c9fd2;

}
.repairservice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 216px;
    width: 271px;
    height: 181px;
    top: 2455px;
    background-color: #2947A9;
}
.architecture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 585px;
    width: 271px;
    height: 181px;
    top: 2455px;
    background-color: #8c9fd2;
}

.electric {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 216px;
    width: 271px;
    height: 181px;
    top: 2455px;
    background-color: #2947A9;
}
.aside2 {
    position: absolute;
    top: 2700px;
    background-color: #dddedf;
    height: 723px;
    width: 100%;
}
.happy {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 512px;
    top: 122px;
    width: 280px;
    height: 155px;
    background-color: white;
    box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
}
.number {
    font-size: 72px;
    /* font-family: 'Poppins', sans-serif; */
    padding-left: 30px;
}
.note {
    display: flex;
    font-size: 24px;
    color: #667299;
    padding-left: 65px;
    
}
.shakehand {
    position: absolute;
    left: 723px;
    top: 80px;
    height: 97px;
    width: 97px; 
}
.pjtcmplt {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 212px;
    top: 221px;
    width: 361px;
    height: 155px;
    background-color: white;
    box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
}
.ilusnote {
    position: absolute;
    top: 172px;
    left: 179px;
    height: 97px;
    width: 97px;
}
.awards {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 458px;
    top: 364px;
    width: 276px;
    height: 155px;
    background-color: white;
    box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
}
.ilusaward {
    position: absolute;
    top: 349px;
    left: 662px;
    height: 97px;
    width: 97px;
}
.years {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 261px;
    top: 330px;
    width: 333px;
    height: 155px;
    background-color: white;
}
.ilusnoted {
    position: absolute;
    top: 582px;
    left: 549px;
    height: 97px;
    width: 97px;
}
.experience {
    position: absolute;
    top: 172px;
    left: 944px;
    font-size: 60px;
    color: #2947A9;
}
.paragraph {
    position: absolute;
    top: 352px;
    left: 944px;
    font-size: 20px;
    color: #525B7A;
}
.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 493px;
    left: 944px;
    height: 53px;
    width: 173px;
    font-size: 18px;
    color: white;
    background-color: #2947A9;
}
.aside3 {
    position: absolute;
    top: 3435px;
    background-image: url(reeconsulting.png);
    height: 300px;
    width: 100%;
    display: flex;

}
.line1 {
    font-size: 36px;
    position: absolute;
    top: 100px;
    color: white;
    left: 112px;
}
.line2 {
    position: absolute;
    top: 172px;
    left: 112px;
    font-size: 24px;
    color: white;
}
.getinfo {
    position: absolute;
    

}
.your {
    background-color: #ffffff;
    border: 1px solid rgba(139, 172, 221, 0.6);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 20px;
    width: 192px;
    opacity: 0.5;
    position: absolute;
    left: 1060px;
    top: 135px;
}
.aside4 {
    position: absolute;
    top: 3735px;
    padding-left: 112px;
    padding-top: 88px;
}
.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 58px;

    position: absolute;
    height: 64px;
    left: 528px;
    right: 112px;
    top: 896px;
}
.project2 {
    display: grid;
    grid-template-areas: 
    "sidebar card1 card2"
    "sidebar card3 card4"
    "sidebar buttons buttons";
    justify-content: space-between;
    margin: 5px;
    padding: 5px;

}
.nav1 {
    grid-area: buttons;
}
.pro {
    font-size: 36px;
    grid-area: sidebar;

}
.all{
    display: flex;
}
.all1 {
    color: #2947A9;
    font-weight: 700;
    
}
.commercial {
    font-size: 24px;
    color: #8c9fd2;
}
.card_arrangement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-left: 80px;
}
.project_card1 {
    margin: 5px;
    padding: 5px;
    padding-top: 30px;
    grid-area: card1;
    
}
.project_card2 {
    margin: 5px;
    padding: 5px;
    padding-top: 30px;
    grid-area: card2;
}
.project_card3 {
    margin: 5px;
    padding: 5px;
    padding-top: 30px;
    grid-area: card3;

}
.project_card4 {
    margin: 5px;
    padding: 5px;
    padding-top: 30px;
    grid-area: card4;
}.wildstone {
    display: flex;
    flex-direction: column;
    background-color: #2947A9;
    color: white;
    align-content: center;
    justify-content: center;
    padding-left: 5px;
}
.infra {
    font-size: 20px;
    font-weight: 700;
}
.aside5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4787px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(209, 206, 206);
}
.txt {
    color: black;
    font-size: 36px;
    font-weight: 700;
    padding: 50px;
}
.we_are {
    color: black;
    font-size: 20px;
    padding: 20px;
}
.aside6 {
    position: absolute;
    top: 5230px;
    display: flex;
    flex-direction: row;
}
.add {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.address {
    font-size: 20px;
    font-weight: 500px;
    color: #2947A9;
    padding-left: 112px;
}
.address1 {
    font-size: 20px;
    color: black;
    padding-left: 7px;
}
.phone {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.mail_id {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.newsletter {
    display: flex;
    flex-direction: column;
    padding-left: 504px;
    font-size: 20px;
    color: #2947A9;
}
.here {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.foot {
    /* padding-topx; */
    height: 30px;
    padding-top: 4300px;
    padding-left: 30px;
    width: 1440px;
}