@import url(https://fonts.google.com/specimen/Poppins#styles);
.container {
    display: flex;
    border: 5px black;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    margin-left: 200px;
    margin-bottom: 200px;
    margin-right: 200px;
    justify-self: center;
    align-items: center;

}
.header {
    font-size: 3vw;
    padding-top: 10px pink;
    /* background-color: aqua; */
    padding: 10px;
    background-color: aqua;
    text-align: center;
    justify-content: center;
    

}
.firstname {
    /* background-color: aliceblue; */
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;


}
.middlename {
    /* background-color: aquamarine; */
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;


}
.lastname {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;


}
.dob {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;


}
.gender {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;


}
.username {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;

}
.dob {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;

}
.country {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.mail {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.phone {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.password {
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.submit{
    height: 50px;
    width: auto;
}
@media screen {
    .container {

    }
    body {
        font-size: 2vw;
        color: blue;
        background-color: rgb(201, 171, 228);
    }
}
